header {
  text-decoration: none;
  padding: 1rem;
  font-family: 'Work Sans', sans-serif;
}

nav {
  font-size: 1.25rem;
  margin:1rem;
  text-align:center;
  width: 100%;
  font-family: 'Work Sans', sans-serif;
}

body {
  background-image:url('../images/bike_bridge.jpg');
  background-size: cover;
  height: 100%;
  font-family: 'Work Sans', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

a:visited {
  color: darkred;
}

a:active {
  color: darkred;
}

nav a {
  padding:1rem;
}

p {
  padding: 1rem;
}

h3 {
  font-size: .8rem;
}

article {
  margin: auto;
  padding: 1rem;
  width: 100%;
  text-align: center;
}

section {
  background: rgba(0, 0, 0, 0.5);
  border: 1rem;
  padding: 1rem;
  margin: 1rem;
  float: left;
  color: white;
  width: 40%;
}

footer nav {
  font-size: .75rem;
}

footer {
  font-size: .75rem;
  font-weight: bold;
  padding: 10px;
  width: 100%;
  text-align: center;
  margin: auto;
  float: left;
}

wrapper section{
  color: black;
  background: rgba(0, 0, 0, 0.5);
  float: none;
  display: inline;
  border: 0;
  padding: 0;
  margin: 0;
}

